@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body {
    background: transparent !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  body {
    @apply text-text-primary antialiased;
  }
}

/* Custom scrollbar to match TradingView */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-in {
  animation-fill-mode: forwards;
}

.fade-in {
  animation: fadeIn 1s ease-out;
}

/* Expanding Animation for Splash */
@keyframes expandCircle {
  0% {
    transform: scale(1);
    border-radius: 9999px;
    opacity: 1;
  }

  100% {
    transform: scale(3.5);
    border-radius: 24px;
    opacity: 0;
  }
}

.animate-expand {
  animation: expandCircle 0.8s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}